[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/slimrealm/nft-staking.git
[submodule "dice-game"]
	path = dice-game
	url = https://github.com/slimrealm/dice-game.git
[submodule "CAPSTONE/leaderboard-rewards"]
	path = CAPSTONE/leaderboard-rewards
	url = https://github.com/slimrealm/leaderboard-rewards.git
[submodule "anchor_vault"]
	path = anchor_vault
	url = https://github.com/slimrealm/anchor-vault.git
